<h1>Dashboard</h1>

<p>
  Add or edit tasks in another tab or browser
</p>

<h2>Tasks</h2>

<form id="new-task-form">
  <label for="new-task-name">Create new task</label>
  <input type="text" id="new-task-name"/>
  <button>Send</button>
</form>

<ul id="tasks-list">
  <% @tasks.each do |task| %>
    <li id="task_<%= task.id %>"><%= task.name %></li>
  <% end %>
</ul>

<%= javascript_include_tag 'cable/subscriptions/tasks' %>
